
/* Estilização principal da tela */
.containerProfileAdm {
  height: 100vh;
  background-color: #ffde59;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

/* Estilo do ícone de + */
.containerProfileAdm svg {
  font-size: 100px;
  color: #ffde59;
  background-color: #f78e3d;
  border-radius: 50%;
  cursor: pointer;
}
